<!DOCTYPE html>
<html>
  <head>
    <title>NAGARRO</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>NAGP Project</h1>
    <p>Developed by Niloy Biswas</p>
  </body>
  <script>
    console.table(<%- JSON.stringify(env) %>)
  </script>
</html>

